{% extends "layout.html.twig" %}

{% block javascript %}
    <script src="/js/search.js"></script>
{% endblock %}

{% block navbar %}
    {% if is_index %}
        <form class="navbar-form navbar-right" role="search">
            <input type="text" class="form-control" autocomplete="off" placeholder="Search" id="search">
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {{ contents | markdown }}
{% endblock %}
