<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container-narrow">
            {% block content %}{% endblock %}
            <hr />
            <footer>
                <p>Generated with <a href="https://git.homecomputing.fr/wiki-md/">wiki.md</a>.</p>
            </footer>
        </div>
    </body>
</html>
