<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spore</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="https://github.com/sanpii/spore">Sources</a></li>
                </ul>
                <h3 class="muted">Spore</h3>
            </div>
            <hr />
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
