<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block head %}{% endblock %}
        <link href="/static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="/static/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="/static/css/main.css" rel="stylesheet" />
    </head>
    <body>

        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                {% if nav is defined %}
                    <div class="navbar-nav mr-auto">
                        {{ nav | markdown | safe }}
                    </div>
                {% endif %}
                {% block navbar %}{% endblock %}
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block javascript %}{% endblock %}
    </body>
</html>
