{% extends "base.html" %}

{% block javascript %}
    <script src="/static/js/search.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block navbar %}
    {% if is_index %}
        <form class="navbar-form" role="search">
            <input type="text" class="form-control" autocomplete="off" placeholder="Search" id="search">
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {% if toc | default(value='') | length > 0 %}
        <div class="accordion d-print-none">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#toc" aria-expanded="false">
                        Table of contents
                    </button>
                </h2>
                <div id="toc" class="accordion-collapse collapse">
                    <div class="accordion-body">{{ toc | safe }}</div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ contents | safe }}
{% endblock %}
